<a href="https://colab.research.google.com/github/gayatrriiii/Build-A-Quiz-App-With-HTML-CSS-and-JavaScript/blob/master/TuplePython2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#tuple

t1 = (23,34,56,4.5,6.7)
print(t1)
print(type(t1))

(23, 34, 56, 4.5, 6.7)
<class 'tuple'>

In [ ]:
t1[0]

23

In [ ]:
t1[-1]

6.7

In [ ]:
t1[2:4]

(56, 4.5)

In [ ]:
t1[0]=100

TypeError: ignored

In [ ]:
#modifying/editing a tuple
#create tuple
t2 = tuple((34,56,78))
t2

(34, 56, 78)

In [ ]:
l1 = list(t2)

In [ ]:
l1

[34, 56, 78]

In [ ]:
l1.append(100)
#convert back to tuple
t2 = tuple(l1)
t2

(34, 56, 78, 100)

In [ ]:
t1 = (1,2,3,[1,2],4)
t1[3][0]=9  #modifying data
print(t1)

(1, 2, 3, [9, 2], 4)

In [ ]:
t2.count(100)

1

In [ ]:
t2.index(34)

0

In [ ]:
#unpacking the tuple
fruits = ("apple", "banana", "cherry")
fruits

('apple', 'banana', 'cherry')

In [ ]:
(a,b,c) = fruits
print(a,b,c)

apple banana cherry

In [ ]:
#Sets
set1 = {11,22,'apple','cherry'}
print(set1)
print(type(set1))

{'apple', 'cherry', 11, 22}
<class 'set'>

In [ ]:
set1[2]=55

TypeError: ignored

In [ ]:
set1[0]

TypeError: ignored

In [ ]:
set1 = {11,11,22,22,'apple','cherry'}

In [ ]:
set1 #no duplicates allowed

{11, 22, 'apple', 'cherry'}

In [ ]:
print('apple' in set1)

True

In [ ]:
#convert into set
set2 = set(l1)
set2

{34, 56, 78, 100}

In [ ]:
#set methods
set2.add("hello")
set2

{100, 34, 56, 78, 'hello'}

In [ ]:
set2.update(set1)
set2

{100, 11, 22, 34, 56, 78, 'apple', 'cherry', 'hello'}

In [ ]:
set2.remove(55) #error
set2

KeyError: ignored

In [ ]:
set2.discard(55) #no error even when element not present in the set
set2

{100, 11, 22, 34, 56, 'apple', 'cherry', 'hello'}

In [ ]:
#set operations

x = {1,2,3,4,5}
y = {4,5,6,7,8}

In [ ]:

A.union(B) #duplicates removed

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
A.intersection(B) #common elements

{4, 5}

In [ ]:
x.intersection_update(y)
x

{4, 5}

In [ ]:
#difference
A.difference(B) #all elements in one which aint in other

{1, 2, 3}

In [ ]:
B.difference(A)

{6, 7, 8}

In [ ]:
A.symmetric_difference(B)  #uncommon elements

{1, 2, 3, 6, 7, 8}

In [ ]:
para1="""Data science combines math and statistics, specialized programming, advanced analytics, artificial intelligence (AI), and machine learning with specific subject matter expertise to uncover actionable insights hidden in an organization’s data. These insights can be used to guide decision making and strategic planning.

The accelerating volume of data sources, and subsequently data has made data science is one of the fastest growing field across every industry. As a result, it is no surprise that the role of the data scientist was dubbed the “sexiest job of the 21st century” by Harvard Business Review (link resides outside of IBM). Organizations are increasingly reliant on them to interpret data and provide actionable recommendations to improve business outcomes.
The data science lifecycle involves various roles, tools, and processes, which enables analysts to glean actionable insights. Typically, a data science project undergoes the following stages
"""

In [ ]:
para2="""Data analytics is the science of 
analyzing raw data to make conclusions about that information. Many of the techniques and processes of data analytics have been automated into mechanical processes and algorithms that work over raw data for human consumption.
"""

In [ ]:
para1

'Data science combines math and statistics, specialized programming, advanced analytics, artificial intelligence (AI), and machine learning with specific subject matter expertise to uncover actionable insights hidden in an organization’s data. These insights can be used to guide decision making and strategic planning.\n\nThe accelerating volume of data sources, and subsequently data has made data science is one of the fastest growing field across every industry. As a result, it is no surprise that the role of the data scientist was dubbed the “sexiest job of the 21st century” by Harvard Business Review (link resides outside of IBM). Organizations are increasingly reliant on them to interpret data and provide actionable recommendations to improve business outcomes.\nThe data science lifecycle involves various roles, tools, and processes, which enables analysts to glean actionable insights. Typically, a data science project undergoes the following stages\n'

In [ ]:
#removing unwanted char from both para
text1 = para1.lower()
text1 = text1.replace('\n','')
text1 = text1.replace(',','')
text1 = text1.replace(':','')
text1 = text1.replace('.','')
text1 = text1.replace('/','')
text1 = text1.replace('"','')

text2= para2.lower()
text2 = text2.replace('\n','')
text2 = text2.replace(',','')
text2 = text2.replace(':','')
text2 = text2.replace('.','')
text2 = text2.replace('/','')
text2 = text2.replace('"','')

In [ ]:
print(text1)

data science combines math and statistics specialized programming advanced analytics artificial intelligence (ai) and machine learning with specific subject matter expertise to uncover actionable insights hidden in an organization’s data these insights can be used to guide decision making and strategic planningthe accelerating volume of data sources and subsequently data has made data science is one of the fastest growing field across every industry as a result it is no surprise that the role of the data scientist was dubbed the “sexiest job of the 21st century” by harvard business review (link resides outside of ibm) organizations are increasingly reliant on them to interpret data and provide actionable recommendations to improve business outcomesthe data science lifecycle involves various roles tools and processes which enables analysts to glean actionable insights typically a data science project undergoes the following stages

In [ ]:
print(text2)

data analytics is the science of analyzing raw data to make conclusions about that information many of the techniques and processes of data analytics have been automated into mechanical processes and algorithms that work over raw data for human consumption

In [ ]:
#find unique words in text1
words1 = text1.split()
words1

['data',
 'science',
 'combines',
 'math',
 'and',
 'statistics',
 'specialized',
 'programming',
 'advanced',
 'analytics',
 'artificial',
 'intelligence',
 '(ai)',
 'and',
 'machine',
 'learning',
 'with',
 'specific',
 'subject',
 'matter',
 'expertise',
 'to',
 'uncover',
 'actionable',
 'insights',
 'hidden',
 'in',
 'an',
 'organization’s',
 'data',
 'these',
 'insights',
 'can',
 'be',
 'used',
 'to',
 'guide',
 'decision',
 'making',
 'and',
 'strategic',
 'planningthe',
 'accelerating',
 'volume',
 'of',
 'data',
 'sources',
 'and',
 'subsequently',
 'data',
 'has',
 'made',
 'data',
 'science',
 'is',
 'one',
 'of',
 'the',
 'fastest',
 'growing',
 'field',
 'across',
 'every',
 'industry',
 'as',
 'a',
 'result',
 'it',
 'is',
 'no',
 'surprise',
 'that',
 'the',
 'role',
 'of',
 'the',
 'data',
 'scientist',
 'was',
 'dubbed',
 'the',
 '“sexiest',
 'job',
 'of',
 'the',
 '21st',
 'century”',
 'by',
 'harvard',
 'business',
 'review',
 '(link',
 'resides',
 'outside',
 'of',
 'ibm)',
 'organizations',
 'are',
 'increasingly',
 'reliant',
 'on',
 'them',
 'to',
 'interpret',
 'data',
 'and',
 'provide',
 'actionable',
 'recommendations',
 'to',
 'improve',
 'business',
 'outcomesthe',
 'data',
 'science',
 'lifecycle',
 'involves',
 'various',
 'roles',
 'tools',
 'and',
 'processes',
 'which',
 'enables',
 'analysts',
 'to',
 'glean',
 'actionable',
 'insights',
 'typically',
 'a',
 'data',
 'science',
 'project',
 'undergoes',
 'the',
 'following',
 'stages']

In [ ]:
type(words1)

list

In [ ]:
len(words1)

138

In [ ]:
# to set
unq_words1 = set(words1)
print(unq_words1)
print(len(unq_words1))

{'no', 'advanced', 'scientist', 'of', 'science', 'accelerating', 'increasingly', 'job', '(link', 'the', 'matter', 'century”', 'combines', 'growing', 'hidden', 'dubbed', 'enables', 'outside', 'can', 'used', 'it', 'intelligence', 'to', 'which', 'an', 'fastest', 'subsequently', 'undergoes', 'analytics', 'made', 'was', 'these', 'them', 'roles', 'learning', 'strategic', 'with', 'as', 'in', 'making', 'uncover', 'planningthe', 'various', 'guide', 'role', 'processes', 'decision', 'insights', 'improve', 'industry', 'lifecycle', 'across', 'glean', 'be', 'typically', 'are', 'a', 'math', 'programming', '21st', 'subject', 'is', 'and', 'actionable', 'result', 'resides', 'data', 'specialized', 'specific', 'by', '(ai)', 'involves', 'provide', 'machine', 'that', 'artificial', 'organizations', '“sexiest', 'interpret', 'surprise', 'organization’s', 'ibm)', 'one', 'following', 'stages', 'review', 'tools', 'has', 'project', 'outcomesthe', 'statistics', 'expertise', 'analysts', 'every', 'reliant', 'harvard', 'field', 'business', 'sources', 'on', 'volume', 'recommendations'}
102

In [ ]:
words2= text2.split()
words2

['data',
 'analytics',
 'is',
 'the',
 'science',
 'of',
 'analyzing',
 'raw',
 'data',
 'to',
 'make',
 'conclusions',
 'about',
 'that',
 'information',
 'many',
 'of',
 'the',
 'techniques',
 'and',
 'processes',
 'of',
 'data',
 'analytics',
 'have',
 'been',
 'automated',
 'into',
 'mechanical',
 'processes',
 'and',
 'algorithms',
 'that',
 'work',
 'over',
 'raw',
 'data',
 'for',
 'human',
 'consumption']

In [ ]:
type(words2)

list

In [ ]:
len(words2)

40

In [ ]:
unq_words2 = set(words2)
print(unq_words2)
print(len(unq_words2))

{'about', 'mechanical', 'make', 'many', 'and', 'consumption', 'of', 'science', 'automated', 'techniques', 'been', 'into', 'have', 'data', 'the', 'processes', 'conclusions', 'work', 'algorithms', 'that', 'to', 'for', 'analytics', 'information', 'analyzing', 'human', 'over', 'is', 'raw'}
29

In [ ]:
#lexical diversity = No of words/No of unique words

ld1 = len(words1)/len(unq_words1)

ld1

1.3529411764705883

In [ ]:
ld2 = len(words2)/len(unq_words2)
ld2

1.3793103448275863

In [ ]:
#print common words in para1 and para2
print(unq_words1.intersection(unq_words2))

{'data', 'the', 'analytics', 'that', 'processes', 'and', 'of', 'science', 'to', 'is'}

In [ ]:
print(len(unq_words1.intersection(unq_words2)))

10

In [ ]:
print(unq_words1.difference(unq_words2)) #words in para1 not in para 2

{'no', 'advanced', 'scientist', 'accelerating', 'increasingly', 'job', '(link', 'matter', 'century”', 'combines', 'growing', 'hidden', 'dubbed', 'enables', 'outside', 'can', 'used', 'it', 'intelligence', 'which', 'an', 'fastest', 'subsequently', 'undergoes', 'made', 'was', 'these', 'them', 'roles', 'learning', 'strategic', 'with', 'as', 'in', 'making', 'uncover', 'planningthe', 'various', 'guide', 'role', 'decision', 'insights', 'improve', 'industry', 'lifecycle', 'across', 'glean', 'be', 'typically', 'are', 'a', 'math', 'programming', '21st', 'subject', 'actionable', 'result', 'resides', 'specialized', 'specific', 'by', '(ai)', 'involves', 'provide', 'machine', 'artificial', 'organizations', '“sexiest', 'interpret', 'surprise', 'organization’s', 'ibm)', 'one', 'following', 'stages', 'review', 'tools', 'has', 'project', 'outcomesthe', 'statistics', 'expertise', 'analysts', 'every', 'reliant', 'harvard', 'field', 'business', 'sources', 'on', 'volume', 'recommendations'}

In [ ]:
#list of uncommon words in both
print(unq_words1.symmetric_difference(unq_words2))
print(len((unq_words1.symmetric_difference(unq_words2))))

{'no', 'about', 'make', 'many', 'advanced', 'actionable', 'consumption', 'scientist', 'accelerating', 'increasingly', 'techniques', 'job', 'result', '(link', 'resides', 'have', 'matter', 'specialized', 'century”', 'combines', 'growing', 'hidden', 'dubbed', 'specific', 'by', 'enables', 'work', 'outside', '(ai)', 'involves', 'provide', 'can', 'machine', 'algorithms', 'artificial', 'used', 'it', 'intelligence', 'organizations', 'which', 'an', 'fastest', 'subsequently', '“sexiest', 'undergoes', 'on', 'human', 'volume', 'made', 'was', 'raw', 'these', 'them', 'roles', 'learning', 'mechanical', 'interpret', 'strategic', 'with', 'as', 'in', 'making', 'uncover', 'planningthe', 'automated', 'surprise', 'various', 'been', 'into', 'guide', 'organization’s', 'role', 'ibm)', 'conclusions', 'decision', 'one', 'insights', 'following', 'stages', 'review', 'improve', 'industry', 'lifecycle', 'across', 'tools', 'glean', 'be', 'typically', 'has', 'project', 'outcomesthe', 'statistics', 'expertise', 'analysts', 'are', 'every', 'a', 'for', 'math', 'reliant', 'programming', 'information', 'harvard', 'field', 'business', '21st', 'analyzing', 'sources', 'subject', 'recommendations', 'over'}
111

In [ ]:
#dictionary

student = {'id': 12, 'Name':'John', 'Branch':'IT'}
print(student)
print(type(student))

{'id': 12, 'Name': 'John', 'Branch': 'IT'}
<class 'dict'>

In [ ]:
student.items()

dict_items([('id', 12), ('Name', 'John'), ('Branch', 'IT')])

In [ ]:
student.keys()

dict_keys(['id', 'Name', 'Branch'])

In [ ]:
student.values()

dict_values([12, 'John', 'IT'])

In [ ]:
#access a key value pair
student['Name']

'John'

In [ ]:
student['Branch']

'IT'

In [ ]:
student.get('Name')

'John'

In [ ]:
#change the key value
student['Name'] = 'Harry'

In [ ]:
student.items()

dict_items([('id', 12), ('Name', 'Harry'), ('Branch', 'IT')])

In [ ]:
student['Branch'] = 'Mechanical'
student.items()

dict_items([('id', 12), ('Name', 'Harry'), ('Branch', 'Mechanical')])

In [ ]:
#add new key value pair
student['Age'] = 22
student

{'id': 12, 'Name': 'Harry', 'Branch': 'Mechanical', 'Age': 22}

In [ ]:
#membership operation
print('Branch' in student)

True

In [ ]:
#pop methhod
student.pop('Age')
student

{'id': 12, 'Name': 'Harry', 'Branch': 'Mechanical'}

In [ ]:
#multiple values in dictionary

players={'Name':['Virat', 'Rohit', 'Dhoni'], 
         'Age':[31,32,33],
         'Designation':['Captain','VC','WK'], 
         'Role': "Cricketers"}

In [ ]:
players

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [31, 32, 33],
 'Designation': ['Captain', 'VC', 'WK'],
 'Role': 'Cricketers'}

In [ ]:
len(players)

4

In [ ]:
players['Name']

['Virat', 'Rohit', 'Dhoni']

In [ ]:
#access particular element by their index
players['Name'][0]

'Virat'

In [ ]:
players['Age'][1] = 55
players

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [31, 55, 33],
 'Designation': ['Captain', 'VC', 'WK'],
 'Role': 'play'}

In [ ]:
players.update({'Role': 'play'})

In [ ]:
players

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [31, 32, 33],
 'Designation': ['Captain', 'VC', 'WK'],
 'Role': 'play'}

In [ ]:
#conditional statements
#if-else
a = 10
b = 5
if a > 5:
  print('a is greater')
else:
  print('b is greater')

a is greater

In [ ]:
a = input('Enter first number')
b = input('Enter second number')
print(a + b)
if a > b:
  print('a is greater')
else:
  print('b is greateR')

Enter first number10
Enter second number20
1020
b is greateR

In [ ]:
a = int(input('Enter first number'))
b = int(input('Enter second number'))
print(a + b)
if a > b:
  print('a is greater')
else:
  print('b is greateR')

Enter first number10
Enter second number10
20
b is greateR

In [ ]:
#check if one can vote or not

age = int(input('Please enter your age: '))
if age >= 18:
  print('Yes, you can vote!')
else:
  print("Sorry, you can't vote!")

Please enter your age: 18
Yes, you can vote!

In [ ]:
#print student marksheet
#checking  multiple conditions
marks = int(input('Enter Marks'))
if marks >= 90:
  print('A Grade')
elif marks < 90 and marks >= 80:
  print('B Grade')
elif marks < 80 and marks >= 70:
  print('C Grade')
else:
  print('Try Next Time')

Enter Marks30
Try Next Time

In [ ]:
#employee salary

salary = int(input('Enter your salary:'))
if salary<20000 and salary >= 10000:
  salary = salary + salary * 0.20 + 10000
elif salary < 10000 and salary >= 5000:
  salary = salary+salary*0.30+5000
  

else:
  salary = salary+salary*0.40+2500
print(salary)

Enter your salary:10000
22000.0

In [ ]:
#Project - store username and pass
#ask user to enter his username and pass - if credential matches, welcome
#else if wrong then ask user for signup, update that data in my storage

cred={'Rohit': 'rohit01',
      'Virat': 'virat02',
      'Kapil': 'sharma23',}
cred.keys()

dict_keys(['Rohit', 'Virat', 'Kapil'])

In [ ]:
cred.values()

dict_values(['rohit01', 'virat02', 'sharma23'])

In [ ]:
username = input('Please enter your username:')
password = input('Please enter your password:')

if username not in cred.keys():
  print('Username is not in the database!')
  ask = input('Would you like to signup? y/n:')
  if ask.lower() == 'y':
    username = input('Please enter your username:')
    password = input('Please enter your password:')

    cred.update({username:password})
    print('Account added successfully!')
    print(cred)
  else:
    print('Thankyou!!')
elif cred[username] == password:
  print('Hello {} welcome'.format(username) )
else:
  print('username or password is incorrect')

Please enter your username:gayatri
Please enter your password:gayatri
Username is not in the database!
Would you like to signup? y/n:y
Please enter your username:gayatri
Please enter your password:bhosale
Account added successfully!
{'Rohit': 'rohit01', 'Virat': 'virat02', 'Kapil': 'sharma23', 'gayatri': 'bhosale'}

In [ ]:
cred

{'Rohit': 'rohit01',
 'Virat': 'virat02',
 'Kapil': 'sharma23',
 'gayatri': 'bhosale'}

In [ ]:
#loops
list1 = [23,45,67,89]
for i in list1:
  print(i)

23
45
67
89

In [ ]:
t1 = (23,45,67,67)
for i in t1:
  print(i)

23
45
67
67

In [ ]:
#break keyword
list1 = [23,45,67,-1,89]
for i in list1:
  if i < 0:
    break #breaks current execution
  print(i)

23
45
67

In [ ]:
#continue keyword

list1 = [23,45,-2, -22, 67,-1,89, -99]
for i in list1:
  if i < 0:
    continue #breaks current execution
  print(i)

23
45
67
89

In [ ]:
list2 = [10,10,10]
sum = 0
for i in list2:
  sum += i
print(sum)

30

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(20,31):
    print(i)

20
21
22
23
24
25
26
27
28
29
30

In [ ]:
for i in range(2,20,2):
  print(i)

2
4
6
8
10
12
14
16
18

In [ ]:
number = int(input('Enter number'))
for i in range(1,11):
  print(f'{number} * {i} = {number*i}')

Enter number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
#for loop w else
cars = ['tata','bmw','honda']
for i in range(len(cars)):
  print("I like", cars[i])
else:
  print('No items left in list')

I like tata
I like bmw
I like honda
No items left in list

In [ ]:
i = 1
while i <= 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 10
while i >= 1:
  print(i)
  i -= 1

10
9
8
7
6
5
4
3
2
1

In [1]:
#python session 3
#program to enter list elements through user

list1 = []
#input from user 
n = int(input('Enter number of elements in the list:'))
for i in range(0, n):
  print('Enter the elements no {}'.format(i+1))
  element = int(input())
  list1.append(element)
print('The entered list is \n', list1)
4

Enter number of elements in the list:5
Enter the elements no 1
2
Enter the elements no 2
3
Enter the elements no 3
4
Enter the elements no 4
5
Enter the elements no 5
6
The entered list is
 [2, 3, 4, 5, 6]

In [5]:
#create random numbers  #pip install random

import random
rand = []
for i in range(100):
  num = random.randint(0,100) #creates random integers numbers list 
  rand.append(num)
print(rand)

[4, 57, 6, 99, 12, 14, 100, 88, 77, 39, 94, 57, 74, 82, 12, 45, 62, 23, 48, 22, 14, 46, 68, 0, 34, 86, 50, 43, 34, 36, 12, 10, 5, 48, 58, 76, 12, 74, 65, 33, 75, 66, 73, 98, 23, 12, 85, 79, 68, 50, 16, 47, 15, 34, 83, 90, 96, 98, 21, 87, 72, 31, 44, 16, 4, 85, 77, 66, 63, 95, 15, 91, 87, 38, 46, 11, 35, 73, 70, 84, 5, 17, 1, 100, 8, 0, 71, 11, 46, 100, 90, 61, 30, 38, 59, 99, 53, 97, 97, 79]

In [10]:
#find and create a list of even numbers in this rand list

rand2 = []
for i in rand:
  if i != 0:
    if i%2 == 0:
      rand2.append(i)
print(rand2)

[4, 6, 12, 14, 100, 88, 94, 74, 82, 12, 62, 48, 22, 14, 46, 68, 34, 86, 50, 34, 36, 12, 10, 48, 58, 76, 12, 74, 66, 98, 12, 68, 50, 16, 34, 90, 96, 98, 72, 44, 16, 4, 66, 38, 46, 70, 84, 100, 8, 46, 100, 90, 30, 38]

In [11]:
#create a list of numbers divisible by 5

rand3 = []
for i in rand:
  if i%5 == 0:
    rand3.append(i)
print(rand3)

[100, 45, 0, 50, 10, 5, 65, 75, 85, 50, 15, 90, 85, 95, 15, 35, 70, 5, 100, 0, 100, 90, 30]

In [13]:
#use for loop with dictionary
emp = {'empid':1, 'name':'Rohit','Dept':'HR','Address': 'Mumbai'}

for key in emp.keys():  #iterating over loop 
  print('key is',key,'maps to',emp[key])

key is empid maps to 1
key is name maps to Rohit
key is Dept maps to HR
key is Address maps to Mumbai

In [15]:
#else with while loop

numbers=[10,20,30,40,50]

index = 0
while index < len(numbers):
  print(numbers[index])
  index += 1
  print('current index', index)
else:
  print('\n empty now')

10
current index 1
20
current index 2
30
current index 3
40
current index 4
50
current index 5

 empty now

In [16]:
text="""Data science is the study of data to extract meaningful insights for business. It is a multidisciplinary approach that combines principles and practices from the fields of mathematics, statistics, artificial intelligence, and computer engineering to analyze large amounts of data. This analysis helps data scientists to ask and answer questions like what happened, why it happened, what will happen, and what can be done with the results.
"""

In [17]:
text

'Data science is the study of data to extract meaningful insights for business. It is a multidisciplinary approach that combines principles and practices from the fields of mathematics, statistics, artificial intelligence, and computer engineering to analyze large amounts of data. This analysis helps data scientists to ask and answer questions like what happened, why it happened, what will happen, and what can be done with the results.\n'

In [19]:
#list of words from text that starts with 'e'
#list of words from text that ends with 's'
#print words till word 'analysis'

text1 = text.split()
text1

['Data',
 'science',
 'is',
 'the',
 'study',
 'of',
 'data',
 'to',
 'extract',
 'meaningful',
 'insights',
 'for',
 'business.',
 'It',
 'is',
 'a',
 'multidisciplinary',
 'approach',
 'that',
 'combines',
 'principles',
 'and',
 'practices',
 'from',
 'the',
 'fields',
 'of',
 'mathematics,',
 'statistics,',
 'artificial',
 'intelligence,',
 'and',
 'computer',
 'engineering',
 'to',
 'analyze',
 'large',
 'amounts',
 'of',
 'data.',
 'This',
 'analysis',
 'helps',
 'data',
 'scientists',
 'to',
 'ask',
 'and',
 'answer',
 'questions',
 'like',
 'what',
 'happened,',
 'why',
 'it',
 'happened,',
 'what',
 'will',
 'happen,',
 'and',
 'what',
 'can',
 'be',
 'done',
 'with',
 'the',
 'results.']

In [23]:
for i in text1:
  if i[0] == 'e':
    print(i)

extract
engineering

In [27]:
end_e = []
for words in text1:
  if words.endswith('e'):
    end_e.append(words)
end_e

['science', 'the', 'the', 'analyze', 'large', 'like', 'be', 'done', 'the']

In [40]:
for i in text1:
  if i == "analysis":
      break
  print(i)

Data
science
is
the
study
of
data
to
extract
meaningful
insights
for
business.
It
is
a
multidisciplinary
approach
that
combines
principles
and
practices
from
the
fields
of
mathematics,
statistics,
artificial
intelligence,
and
computer
engineering
to
analyze
large
amounts
of
data.
This

In [43]:
#funtions

def display():
  ''' It prints hello world'''
  print('hello world')
#calling the function

display()

hello world

In [44]:
#add two numbers
def add(x,y):
  return x + y

In [45]:
add(123,566)

689

In [46]:
add(1,78987)

78988

In [47]:
#create a function to do square of a number
def square(a):
  return a*a

In [49]:
square(4)

16

In [55]:
#create sum of elements of a given range(1,25)

def sum(a,b):
  result = 0
  for i in range(a,b+1):
    result += i
  
  print('sum of numbers from {} to {} is {}'.format(a,b,result))

In [56]:
sum(100,300)

sum of numbers from 100 to 300 is 40200

In [59]:
#return multiple value to variables
def square_cube(num):
  print(num)
  return num*num, num**3

In [60]:
square,cube = square_cube(4)
print(square,cube)

4
16 64

In [61]:
#example1 - passing a mutable object(list), func will change the list


def changelist(list1):
  list1.append(20)
  list1.append(30)
  print('list inside the function', list1)

In [63]:
list1 = [12,13,34,45]
changelist(list1)
print('list outside the function', list1)

list inside the function [12, 13, 34, 45, 20, 30]
list outside the function [12, 13, 34, 45, 20, 30]

In [67]:
def change_str(str1):
  str1 = str1 + 'python'
  print('string inside the function', str1)

In [68]:
str1 = 'hello this is'

In [69]:
change_str(str1)
print('string outside the function',str1)

string inside the function hello this ispython
string outside the function hello this is

In [ ]:
from IPython.core.completer import position_to_cursor
#types of arguments

#required arguments - exact match of argument with their position in the function call and func definition
#keyword arguments -
#default arguments
#variable length arguments

In [71]:
#program to calculate simple interest

def simple(p,t,r):
  return (p*t*r)/100

In [72]:
simple(100,2,3) #should be in order always

6.0

In [73]:
def details(place,pincode):
  print("place={}' and pincode={}".format(place,pincode))

In [74]:
details('Hyderabad',500082)

place=Hyderabad' and pincode=500082

In [75]:
details(12344,'Delhi')

place=12344' and pincode=Delhi

In [76]:
#keyword arguments

details(pincode=12345, place='Delhi') #very useful

place=Delhi' and pincode=12345

In [80]:
#default arguments

def AOC(r, pi=3.14):
  return pi*r*r

In [81]:
AOC(5) #only one parameter can be passed as one is by default

78.5

In [82]:
AOC(5,3.144) #overridden

78.60000000000001

In [86]:
#variable length argument
#when we dont know how many arguments should we pass in advance
#by tuples

def display(*names):
  print('data structure is', type(names))
  print('printing the names')
  for name in names:
    print(name)

In [88]:
display('aby','john','sej','gayu','minku','kash','harry')

data structure is <class 'tuple'>
printing the names
aby
john
sej
gayu
minku
kash
harry

In [96]:
#multiple keyword arguments

def food(**kw):
  print(kw)

In [97]:
food(fruits='apple', vege='carot', fastfood='burger')

{'fruits': 'apple', 'vege': 'carot', 'fastfood': 'burger'}

In [110]:
#scope of variable
a = 10
def print_a():
  a = 20
  print(a)

In [111]:
print_a()

20

In [112]:
print(a) #local scope

10

In [114]:
#can function change value of a global variable?

b = 20
def printb():
  global b 
  print("global var is", b)
  b = 30
  print('value inside the function', b)

In [115]:
printb()

global var is 20
value inside the function 30

In [117]:
print(b) #global changes the value!

30

In [120]:
#modify each element of list by 3

def modify(l):
  return [i*3 for i in l]
modify([1,2,3,4])

[3, 6, 9, 12]

In [121]:
#lambda function 
#small anonymous function
#function which doesn't have any name and can be written inside any code
#can take any number of arguments
#but can have only one expression


#syntax:   lambda arguments:expression

def add(a,b):
  return a+b

  #more simple way
add_lam = lambda a,b:a+b
add_lam(5,6)

11

In [122]:
#find a number if even or odd
find_even = lambda x:x%2==0
find_even(10)

True

In [123]:
#if-else w lambda

Max = lambda a,b:a if (a > b) else b

In [124]:
Max(34,67)

67

In [125]:
#example of lambda inside code
#take one argument from user and that number will be multiplied w some unknown number
def myfunc(n):
  return lambda a:a*n

In [130]:
double = myfunc(3)

In [131]:
double(10)

30

In [132]:
a = myfunc(3)

In [133]:
a(10)

30

In [135]:
#sort list of tuples using lambda

subject_marks=[('english', 88),('science', 90), ('physics', 70),('social science', 75)]
print(subject_marks)
#sort the list

subject_marks.sort(key = lambda x:x[1])
print(subject_marks)

[('english', 88), ('science', 90), ('physics', 70), ('social science', 75)]
[('physics', 70), ('social science', 75), ('english', 88), ('science', 90)]

In [136]:
 #map, filter, reduce

#list of numbers from 300 to 700 with a step of 3
list1 = list(range(300,700,3))

In [ ]:
list1

In [138]:
#filter the list with the help of function that check element is even or not

list2 = list(filter(lambda x:x%2==0, list1))

In [139]:
list2

[300,
 306,
 312,
 318,
 324,
 330,
 336,
 342,
 348,
 354,
 360,
 366,
 372,
 378,
 384,
 390,
 396,
 402,
 408,
 414,
 420,
 426,
 432,
 438,
 444,
 450,
 456,
 462,
 468,
 474,
 480,
 486,
 492,
 498,
 504,
 510,
 516,
 522,
 528,
 534,
 540,
 546,
 552,
 558,
 564,
 570,
 576,
 582,
 588,
 594,
 600,
 606,
 612,
 618,
 624,
 630,
 636,
 642,
 648,
 654,
 660,
 666,
 672,
 678,
 684,
 690,
 696]

In [142]:
list2 = list(filter(lambda x:x<10, list1))

In [143]:
list2

[]

In [144]:
#create a string filter all numbers from string using filter fun

str1 = "Hello123"
num = list(filter(lambda x: True if x in "1234567890" else False,str1))
print(num)

['1', '2', '3']

In [151]:

#MAP
#map() function returns a map object(which is an iterator of the results after applying function to each item) 

list1
len(list1)
#subtract all value of list w 300
list2=list(map(lambda x:x-300,list1))

In [152]:
list2

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99,
 102,
 105,
 108,
 111,
 114,
 117,
 120,
 123,
 126,
 129,
 132,
 135,
 138,
 141,
 144,
 147,
 150,
 153,
 156,
 159,
 162,
 165,
 168,
 171,
 174,
 177,
 180,
 183,
 186,
 189,
 192,
 195,
 198,
 201,
 204,
 207,
 210,
 213,
 216,
 219,
 222,
 225,
 228,
 231,
 234,
 237,
 240,
 243,
 246,
 249,
 252,
 255,
 258,
 261,
 264,
 267,
 270,
 273,
 276,
 279,
 282,
 285,
 288,
 291,
 294,
 297,
 300,
 303,
 306,
 309,
 312,
 315,
 318,
 321,
 324,
 327,
 330,
 333,
 336,
 339,
 342,
 345,
 348,
 351,
 354,
 357,
 360,
 363,
 366,
 369,
 372,
 375,
 378,
 381,
 384,
 387,
 390,
 393,
 396,
 399]

In [153]:
len(list1)

134

In [154]:
len(list2)

134

In [157]:
#square all elements of list using map function

listsquare = list(map(lambda x:x*x, list1))

In [158]:
listsquare

[90000,
 91809,
 93636,
 95481,
 97344,
 99225,
 101124,
 103041,
 104976,
 106929,
 108900,
 110889,
 112896,
 114921,
 116964,
 119025,
 121104,
 123201,
 125316,
 127449,
 129600,
 131769,
 133956,
 136161,
 138384,
 140625,
 142884,
 145161,
 147456,
 149769,
 152100,
 154449,
 156816,
 159201,
 161604,
 164025,
 166464,
 168921,
 171396,
 173889,
 176400,
 178929,
 181476,
 184041,
 186624,
 189225,
 191844,
 194481,
 197136,
 199809,
 202500,
 205209,
 207936,
 210681,
 213444,
 216225,
 219024,
 221841,
 224676,
 227529,
 230400,
 233289,
 236196,
 239121,
 242064,
 245025,
 248004,
 251001,
 254016,
 257049,
 260100,
 263169,
 266256,
 269361,
 272484,
 275625,
 278784,
 281961,
 285156,
 288369,
 291600,
 294849,
 298116,
 301401,
 304704,
 308025,
 311364,
 314721,
 318096,
 321489,
 324900,
 328329,
 331776,
 335241,
 338724,
 342225,
 345744,
 349281,
 352836,
 356409,
 360000,
 363609,
 367236,
 370881,
 374544,
 378225,
 381924,
 385641,
 389376,
 393129,
 396900,
 400689,
 404496,
 408321,
 412164,
 416025,
 419904,
 423801,
 427716,
 431649,
 435600,
 439569,
 443556,
 447561,
 451584,
 455625,
 459684,
 463761,
 467856,
 471969,
 476100,
 480249,
 484416,
 488601]

In [160]:
#add 2 lists using map function

l1 = [1,2,3]
l2 = [2,3,4]
l3 = list(map(lambda x,y:x+y, l1,l2))
l3

[3, 5, 7]

In [163]:
fruit = ['Apple','banana','pear','orange','Apricot']
#filter list which words start with A

l1 = list(filter(lambda x:x[0]=='A', fruit))
l1

['Apple', 'Apricot']

In [167]:
#reduce
#aggregation of tasks

import functools
from functools import reduce

list1

[300,
 303,
 306,
 309,
 312,
 315,
 318,
 321,
 324,
 327,
 330,
 333,
 336,
 339,
 342,
 345,
 348,
 351,
 354,
 357,
 360,
 363,
 366,
 369,
 372,
 375,
 378,
 381,
 384,
 387,
 390,
 393,
 396,
 399,
 402,
 405,
 408,
 411,
 414,
 417,
 420,
 423,
 426,
 429,
 432,
 435,
 438,
 441,
 444,
 447,
 450,
 453,
 456,
 459,
 462,
 465,
 468,
 471,
 474,
 477,
 480,
 483,
 486,
 489,
 492,
 495,
 498,
 501,
 504,
 507,
 510,
 513,
 516,
 519,
 522,
 525,
 528,
 531,
 534,
 537,
 540,
 543,
 546,
 549,
 552,
 555,
 558,
 561,
 564,
 567,
 570,
 573,
 576,
 579,
 582,
 585,
 588,
 591,
 594,
 597,
 600,
 603,
 606,
 609,
 612,
 615,
 618,
 621,
 624,
 627,
 630,
 633,
 636,
 639,
 642,
 645,
 648,
 651,
 654,
 657,
 660,
 663,
 666,
 669,
 672,
 675,
 678,
 681,
 684,
 687,
 690,
 693,
 696,
 699]

In [166]:
reduce(lambda x,y:x+y,list1 )

66933

In [168]:
#find greatest number in a list

list1 = [70,110,200,400,34]
reduce(lambda x,y:x if x>y else y, list1)

400

In [169]:
red = lambda x,y:x if x>y  else y
reduce(red,list1)

400

In [170]:
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.